body {
    background: darkgrey;
}

.btnp {
    border: none;
    background: #3a7999;
    color: #f2f2f2;
    padding: 5px;
    font-size: 14px;
    border-radius: 2px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;
}


.contenedor{
    width: 1080px;
    margin: auto;
    background:#272829;
    color: rgb(0, 112, 163);
    padding: 20px 15px 50px 50px;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.8);
}